.git
node_modules
**/node_modules
.yarn
api/dist
web/dist
server/dist
.env
.env.*
!.env.example
!.env.defaults
secure-private-storage
hardware
homeassistant
mosquitto
robot-vision-publisher
robot-vision-worker
web-agents
html
ollama
*.log
